
@{
    ViewData["Title"] = "ComprasDEmo";
}

<h1>ComprasDEmo</h1>

<div class="form-row">
    <div class="col-md-6 mb-3">
        <label>Producto</label>
        <input class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label>precio</label>
        <input class="form-control" />
    </div>
</div>

<div class="col-md-6 mb-3">
    <label>cantidad</label>
    <input class="form-control" />
</div>